.Rproj.user
.Rhistory
.RData
.Ruserdata
Outputs/generate datasets/TRUE_H0.RData
Outputs/generate datasets/TRUE_H1.RData
Outputs/generate datasets/TRUE_Hc.RData
Part I/pre-processing/output/BF_data.rds
Part I/data simulation/BES thesis shiny data export.zip
Part I/simulation/output/res2par_shiny.rds
Part I/simulation/output/BES thesis shiny data export.zip
Part I/simulation/output/res3par_shiny.rds
Part I/pre-processing/output/workspace_temp.RData
Part I/pre-processing/output/BF_data_3par_hpc_final.rds
Part I/pre-processing/output/BF_data_3par_hpc_final_mixed.rds
Part I/pre-processing/output/BF_data_2par_hpc_final_mixed.rds
