.Rproj.user
.Rhistory
.RData
.Ruserdata
Outputs/generate datasets/TRUE_H0.RData
Outputs/generate datasets/TRUE_H1.RData
Outputs/generate datasets/TRUE_Hc.RData
Part I/pre-processing/output/BF_data.rds
Part I/data simulation/BES thesis shiny data export.zip
